.sectionTwo {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #ff6ca8;
    justify-content: center;
    align-items: center;
}

.sectionTwo h1 {
    color: #fff;
}

.sectionTwo img {
    border-radius: 100%;
    width: 150px;
    height: 150px;
}